<div class="filter-container">
    <select [(ngModel)]="selectedOption" name="selectedOption" class="filter-select">
        <option value="Ordinary_Drink">Ordinary Drink</option>
        <option value="Cocktail">Cocktail</option>
        <option value="Shake">Shake</option>
        <option value="Punch / Party Drink">Punch / Party Drink</option>
        <option value="Coffee / Tea">Coffee / Tea</option>
        <option value="Soft drink">Soft drink</option>
        <option value="Cocoa">Cocoa</option>
        <option value="Other / Unknown">Other</option>
    </select>
    <button (click)="submitFilter()" class="filter-button">Filter</button>
    <label>
        <input type="checkbox" [(ngModel)]="showAlcoholic" 
            name="showAlcoholic"
            (change)="toggleShowAlcoholic()">
            Show alcoholic
      </label>
</div>
<div class="list" *ngFor="let coctail of paginatedCoctails">
    <app-coctail 
    [coctail]="coctail" 
    class="coctail">
</app-coctail>
</div>
<div class="pagination-container">
    <button *ngFor="let pageNumber of getVisiblePaginationArray()"
        [class.active]="pageNumber === currentPage"
        (click)="changePage(pageNumber)"
        >
        {{ pageNumber }}
    </button>
</div>