#main h1 {
    text-align: center;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 100px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
  }
  
  .coctail{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 30px;
  }
  
  .pagination-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
  }
  
  .pagination-container button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s;
  }
  
  .pagination-container::-webkit-scrollbar {
    height: 4px;
  }
  
  .pagination-container::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  
  .pagination-container::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }

  .pagination-container button.active {
    background-color: #ccc;
  }

  .coctail-item {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
  
  .thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .coctail-name {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .coctail-name:hover {
    color: #007bff;
  }